<h1>Discount Information</h1>

<h3><p>Name: <%=@discount.name%></p></h3>
<p>Percent: <%=@discount.percent%></p>
<p>Quantity: <%=@discount.quantity_threshold%></p>

<p><%=link_to "Edit Discount", "/merchant/#{@merchant.id}/bulk_discounts/#{@discount.id}/edit", method: :patch, local: true %></p>
